<!--div class="row"-->
<mat-toolbar-row id="audio-player">
    <img
      *ngIf="
        coverImage && (coverImage.endsWith('jpg') || coverImage.endsWith('png'))
      "
      routerLink="/album/{{currentTrack.album.id}}"
      width="80"
      length="80"
      src="{{ coverImage }}"
    />
  <div id="title" class="row">
    <mat-card-subtitle
      *ngIf="currentTrack"
      routerLink="/search/{{currentTrack.album.artists}}"
      style="width: 100px; color: white">{{ currentTrack.album.artists }}</mat-card-subtitle>

    <div *ngIf="trackTitle" class="scrolling-container">
      <div
        class="scrolling-text"
        [@scroll]="state"
        (@scroll.done)="scrollDone()"
      >
        {{ trackTitle }}
      </div>
    </div>
  </div>

  <button [disableRipple]="true" (click)="prev()" mat-icon-button>
    <mat-icon mat-list-icon>skip_previous_rounded</mat-icon>
  </button>

  <button
    [disableRipple]="true"
    (click)="play()"
    *ngIf="!isPlaying"
    mat-icon-button
  >
    <mat-icon mat-list-icon>play_arrow_rounded</mat-icon>
  </button>

  <button
    *ngIf="isPlaying"
    (click)="pause()"
    [disableRipple]="true"
    mat-icon-button
  >
    <mat-icon mat-list-icon>pause_rounded</mat-icon>
  </button>

  <button
    style="margin-right: 10px"
    [disableRipple]="true"
    (click)="next()"
    mat-icon-button
  >
    <mat-icon mat-list-icon>skip_next_rounded</mat-icon>
  </button>

  <div style="width: 100%">
    <div id="waveform"></div>
  </div>
  <span class="u-pos-relative">
    <div *ngIf="queueShowing"
      style="color:white !important"
      id="player-queue-menu"
      class="player-queue-menu tooltip tooltip--down-right-arrow {{queueActive}}"
    >
      <header
        class="player-queue-menu__header u-left-right u-d-flex--align-center"
      >
        <h3 style="color:white !important" class="u-fs-18 u-ls-n-06">
          <mat-icon mat-list-icon>menu</mat-icon>
          <!--svg
            class="u-text-icon u-text-orange"
            width="19px"
            height="18px"
            viewBox="0 0 19 18"
            version="1.1">
            <path
              d="M15,5.1428571 L0,5.1428571 L0,7.7142857 L15,7.7142857 L15,5.1428571 Z M15,0 L0,0 L0,2.5714286 L15,2.5714286 L15,0 Z M0,12.8571429 L0,10.2857143 L10,10.2857143 L10,12.8571429 L0,12.8571429 Z M18.786675,13.6581877 C18.786675,13.6581877 19,13.8008535 19,14.0000189 C19,14.199851 18.786675,14.3425168 18.786675,14.3425168 L12.794325,17.8781617 C12.357525,18.1509933 12,17.9498279 12,17.4323311 L12,10.5683735 C12,10.05021 12.357525,9.8490446 12.794325,10.1217096 L18.786675,13.6581877 Z"
            ></path>
            
          </svg
          Queue -->
        </h3>
        <div style="color:white !important" class="player-queue-menu__actions u-d-flex u-d-flex--align-center">
          <!--button
            data-tooltip="Shuffle"
            class="u-spacing-right-em player-queue-menu__shuffle"
            aria-label="Shuffle queue" mat-icon-button>
            <svg width="21" height="20" viewBox="0 0 21 20">
              <path
                fill="#FFF"
                fill-rule="evenodd"
                d="M16.429 5.856c-2.663 0-4.003 2.12-5.555 4.576-1.59 2.517-3.393 5.37-7.017 5.37H1v-1.658h2.857c2.662 0 4.003-2.12 5.554-4.576 1.591-2.517 3.394-5.37 7.018-5.37h.407V1L21 5.028l-4.164 4.027V5.856h-.407zM8.103 8.46C6.99 6.942 5.763 5.856 3.857 5.856H1V4.2h2.857c2.372 0 3.964 1.222 5.227 2.773-.35.5-.674 1.003-.98 1.488zm8.733 5.684v-3.199L21 14.973 16.836 19v-3.199h-.407c-2.373 0-3.965-1.222-5.227-2.773.35-.5.674-1.003.98-1.487 1.114 1.517 2.342 2.603 4.247 2.603h.407z"
              ></path>
            </svg>
          </button-->
          <button
            class="button button--pill"
            aria-label="Save current queue as a playlist"
          >
            <svg
              class="u-text-icon u-text-icon--wide"
              width="20px"
              height="14px"
              viewBox="0 0 20 14"
              version="1.1"
            >
              <path
                d="M11.6666667,4 L0,4 L0,6 L11.6666667,6 L11.6666667,4 Z M11.6666667,0 L0,0 L0,2 L11.6666667,2 L11.6666667,0 Z M15.5555556,8 L15.5555556,4 L13.6111111,4 L13.6111111,8 L9.7222222,8 L9.7222222,10 L13.6111111,10 L13.6111111,14 L15.5555556,14 L15.5555556,10 L19.4444444,10 L19.4444444,8 L15.5555556,8 Z M0,10 L7.7777778,10 L7.7777778,8 L0,8 L0,10 Z"
              ></path>
            </svg>
            Save as playlist
          </button>
          <button
            class="button button--pill"
            aria-label="Clear the current queue"
          >
            Clear
          </button>
          <button
          style="color:white !important"
            class="player-queue-menu__close"
            title="Close"
            aria-label="Close queue menu"
            mat-icon-button (click)="toggleQueue()"
          >
            <mat-icon mat-list-icon>close</mat-icon>
          </button>
        </div>
      </header>
      <div  class="" style="position: relative">
        <div style="overflow: visible; height: 0px; width: 0px">
          <div
            style="
              box-sizing: border-box;
              direction: ltr;
              height: 440px;
              position: relative;
              width: 610px;
              will-change: transform;
              overflow: hidden auto;
            "
          >
            <div
              class=""
              style="
                width: auto;
                max-width: 610px;
                max-height: 1110px;
                overflow: hidden;
                position: relative;
              "
            >
            <div
                cdkDropList
                [cdkDropListData]="todo"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div (click)="playQueue(indexOfelement)" class="row queue-box" *ngFor="let item of queueTracks;let indexOfelement=index;" cdkDrag>
                    <img style="margin-left: 15px; margin-right: 15px;" width="30"  length="30" src="{{ item.coverImageName }}"/> 
                    <div>{{item.trackTitle}}</div>
                </div>
                </div>
            </div>
          </div>
        </div>
        <div class="resize-triggers">
          <div class="expand-trigger">
            <div style="width: 611px; height: 441px"></div>
          </div>
          <div class="contract-trigger"></div>
        </div>
      </div>
    </div>
    <button
      style="margin-left: 10px; margin-right: 10px"
      [disableRipple]="true"
      (click)="toggleQueue()"
      mat-icon-button
    >
      <mat-icon mat-list-icon>playlist_play</mat-icon>
    </button>
  </span>
</mat-toolbar-row>

<!--md-tooltip>
                        {{control.surfer.isPlaying() ? 'Pause' : 'Play'}}
                    </md-tooltip>
                    <md-icon ng-show="control.surfer.isPlaying()" md-font-icon="zmdi zmdi-pause"></md-icon>
                    <md-icon ng-show="!control.surfer.isPlaying()" md-font-icon="zmdi zmdi-play"></md-icon-->
<!--audio controls #player="" (ended)="playerEnded()"-->
