<infinite-scroll (scrolled)="onScroll()">
    <button mat-button style="background-color: #3b97f9; color: white; margin-right: 10px;"[matMenuTriggerFor]="monthMenu">Month</button>
    <!--button mat-button style="background-color: #3b97f9; color: white;" [matMenuTriggerFor]="genreMenu">All Genres</button-->

    <!-- #enddocregion mat-menu-trigger-for -->
    <mat-menu #monthMenu="matMenu">
    <button (click)="setRange(4)" mat-menu-item>All</button>
    <button (click)="setRange(3)" mat-menu-item>Month</button>
    <button (click)="setRange(2)" mat-menu-item>Week</button>
    <button (click)="setRange(1)" mat-menu-item>Day</button>
    </mat-menu>

    <mat-menu #genreMenu="matMenu">
        <button  mat-menu-item>All</button>
        <button mat-menu-item>Rap</button>
        <button mat-menu-item>R&B</button>
        <button mat-menu-item>Screwed & Chopped</button>
    </mat-menu>
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-3 col-xs-6" *ngFor="let track of singleArray; let indexOfelement=index;">
        <mat-card class="album-card" (mouseover)="toggleHover(track.id)" (mouseleave)="removeHover()"> 
            <mat-card-content (click)="playSingles(indexOfelement)"> 
                <div class="pos-rlt">
                    <div class="item-overlay play-overlay center">
                        <mat-icon *ngIf="hoverButton === track.id" mat-list-icon>play_arrow_rounded</mat-icon>
                    </div>
                    <img [src]="track.album.coverImageName"  width="100%" class="responsive-image">
                </div>
            </mat-card-content>
            <mat-card-header class="album-header">
                <mat-card-title class="album-title" (click)="onGetTracks(album)">{{track.trackTitle}}</mat-card-title>
                <mat-card-subtitle (click)="onGetTracks(track)">{{track.album.title}}</mat-card-subtitle>
                <mat-card-subtitle (click)="onGetTracks(track)">{{track.album.artists}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>
<br>
<div class=""*ngIf="isLoading$">
    Loading Singles...
</div>
</infinite-scroll>