<mat-toolbar style="padding:0px;" role="heading" class="mat-elevation-z3">
  <div *ngIf="!isMobile" style="padding-right: 5px;display: flex;align-items: center; justify-content: center;height: 100%;width: 70px;float: left;background-color: #3b97f9;">    
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" style="color: white;">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>  
  </div>
  <div class="col-md-3 col-xs-2" style="display: flex;align-items: center; justify-content: center;" routerLink="/">
    <span><!--i class="fa fa-compact-disc"></i-->
    <img src="assets/cmtz.ico" width="42px" height="42px" />
      <span style="font-family: Lobster;" class="header-text">CertifiedMixtapes</span><span style="font-family: Lobster;" class="header-text"></span></span>
  </div>
  <div class="col-md-6 col-xs-6">
    <div class="search-container">
      <i style="color: #3b97f9;" class="fa fa-search search-icon"></i>
      <input type="text" (keyup.enter)="searchEnter(searchBox.value)"
      placeholder="Search Artist" class="search-input" #searchBox>
      <mat-list class="mat-elevation-z3 search-result" *ngIf="searchResults.length>0 && !hideResult">
        <mat-list-item class="search-result-item" role="listitem" *ngFor="let artist of searchResults">
          <a (click)="onResultClick()" [routerLink]="['search', artist.artists]">{{artist.artists}}</a>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container  *ngIf="!isMobile" class="">
  <mat-sidenav style="margin-top: 64px;" fixedInViewport="true" #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink='/'>
        <i style="padding-right: 7px; color: #3b97f9;" class="far fa-compass"></i>Discover</a>
      <a mat-list-item routerLink='/second'>
        <i style="padding-right: 7px; color: #3b97f9;" class="fas fa-chart-line"></i>Trending</a>
      <a mat-list-item routerLink='/mixtapes/popular'>
        <i style="padding-right: 7px; color: #3b97f9;" class="fas fa-fire"></i>Popular Mixtapes</a>
      <a mat-list-item routerLink='/mixtapes/newest'>
        <i style="padding-right: 7px; color: #3b97f9;" class="fas fa-bolt"></i>Recently Added</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="body-bg">
    <div class="container">
      <div class="body_container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
  <bottom-nav-wrapper bottomNavHeight="75px"  *ngIf="isMobile">
      <application-content>
        <div  class="container">
          <div class="body_container">
            <router-outlet></router-outlet>
          </div>
        </div>
      </application-content>
      <mat-toolbar role="footer" style="background:black;margin-bottom: 70px;" class="mat-elevation-z3 music-control" [hidden]="!showing()" >
        <app-player></app-player>
      </mat-toolbar>

      <!-- The bottom nav bar -->
      <bottom-nav>
     
        <!-- Add a bottom-nav-item for every  icon in the bottom nav. -->
        <!-- The name in the bottom-nav-icon (home) is the name of the material icon -->
        <!-- Use the link input like a [routerLink] -->
        <bottom-nav-item link="">
          home
        </bottom-nav-item>
        
        <bottom-nav-item [link]="'/mixtapes/popular'" [exact]="true">
          show_chart
        </bottom-nav-item>

        <bottom-nav-item [link]="'/mixtapes/popular'" [exact]="true">
          local_fire_department
        </bottom-nav-item>
     
        <!-- The label is optional and adds a ... label to the icon -->
        <bottom-nav-item link="'/mixtapes/newest'" [exact]="true" >
          offline_bolt
        </bottom-nav-item>

        <!--bottom-nav-item link="'/mixtapes/newest'" [exact]="true" >
          videocam
        </bottom-nav-item-->     
      </bottom-nav>    
  </bottom-nav-wrapper>
<mat-toolbar *ngIf="!isMobile" role="footer" style="background:black;" class="mat-elevation-z3 music-control" [hidden]="!showing()" >
  <app-player></app-player>
</mat-toolbar>