<div class="row">
  <div style="margin-bottom: 40px;"class="col-xs-12">
    <h5>
      <a routerLink="../../">{{routeParams.name}} - Albums </a> / Tracks
    </h5>
  </div>
</div>
<div style="background: #fff;margin-left: 1px;width: 100%;">
<div class="row  mb-5 mt-4">
  <div class="col-md-3 col-xs-12">
    <img [src]="selectedAlbum?.coverImageName" width="100%" style="margin-top: -40px;" class="responsive-image mat-elevation-z1" *ngIf="selectedAlbum?.coverImageName">
  </div>
  <div class="col-md-9 col-xs-12">
    <div class="row">
      <div class="col-md-10 col-xs-9" >
      <h2> {{selectedAlbum?.title}} </h2>
      </div>
      <div class="col-md-2 col-xs-3" >
        <div class="row">
          <a mat-list-item routerLink='/'>
            <i style="margin-top: 20px; font-size: 25px;" class="fab fa-facebook-f"></i>
          </a>
          <a mat-list-item href="https://twitter.com/share?url=&text=%23nowplaying%20{{selectedAlbum?.title}}%20via%20%40certifiedmixtapez">
            <i style="margin-left: 20px; margin-top: 20px; font-size: 25px;" class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 album-details">
        <a mat-list-item routerLink='/search/{{selectedAlbum?.artists}}'>{{selectedAlbum?.artists}}</a>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-xs-12 album-details">
        {{selectedAlbum?.createdOn | date:'yyyy'}} | {{selectedAlbum?.trackCount}} Songs | {{getGenre()}}
      </div>
    </div>
    <div class="row">
      <a mat-list-item >
        <i (click)="playTrack(tracks[0])" style="margin-left: 25px; margin-top: 15px; font-size: 30px;" class="fas fa-play"></i>
      </a>
      <a mat-list-item routerLink='/'>
        <i style="margin-left: 30px; margin-top: 15px; font-size: 30px;" class="far fa-heart"></i>
      </a>
      <a mat-list-item href="http://certifiedmixtapez.com/Main/DownloadAlbum?albumId={{selectedAlbum?.refId}}">
        <i style="margin-left: 30px; margin-top: 15px; font-size: 30px;" class="fas fa-cloud-download-alt"></i>
      </a>
      <a mat-list-item [matMenuTriggerFor]="donateMenu" >
        <i style="margin-left: 30px; margin-top: 15px; font-size: 30px;" class="fas fa-money-bill-alt"></i>
      </a>
      <!--button style="margin-left: 30px;" [disableRipple]="true" [matMenuTriggerFor]="donateMenu" mat-icon-button>
        <mat-icon style="font-size: 30px;" mat-list-icon>local_atm</mat-icon>
      </button-->

      <mat-menu #donateMenu="matMenu">
        <a href="https://www.clkmg.com/rlshaw/cmtz-cash-app" mat-menu-item>Cash App</a>
        <a href="https://www.clkmg.com/rlshaw/cmtz-paypal" mat-menu-item>PayPal</a>
      </mat-menu>

    </div>
    <div *ngIf="mobileUrl" class="row">
      <a href="{{mobileUrl}}" style="margin-left: 25px; margin-top: 15px;" class="button button--pill">Open in App</a>
    </div>
  </div>
</div>
<div class="row  mb-5 mt-4">
  <div class="col-md-8 col-xs-12">
    <table mat-table [dataSource]="tracks" class="mat-elevation-z8">
      <ng-container matColumnDef="Number">
        <th mat-header-cell *matHeaderCellDef style="width:60px"> # </th>
        <td mat-cell *matCellDef="let element"> {{element.order}} </td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.trackTitle}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="track-row" (click)="playTrack(row)"></tr>
    </table>
  </div>
  <div style="margin-top: 15px;" class="col-md-4 col-xs-12">
    <h4>More From         
      <a routerLink='/search/{{selectedAlbum?.artists}}'>{{selectedAlbum?.artists}}</a>
    </h4>
    <br>
    <div class="row" *ngFor="let item of suggestedArray;let indexOfelement=index;">
      <a routerLink="/album/{{item.id}}">
        <img class="thumb-md" style="margin-left: 15px; margin-right: 15px; margin-bottom: 10px;" src="{{ item.coverImageName }}"/> 
     </a>
      <div class="truncate">{{item.title}}</div>
    </div>
    <br>
    <h4 *ngIf="suggestedVideos.length > 0">Videos</h4>
    <br>
    <div class="row" *ngFor="let item of suggestedVideos;let indexOfelement=index;">
      <a routerLink="/video/{{item.id}}">
        <img class="thumb-md" style="margin-left: 15px; margin-right: 15px; margin-bottom: 10px;" src="{{ item.videoPoster }}"/> 
      </a>
      <div class="truncate">{{item.title}}</div>
    </div>
  </div>
</div>
<div class="card">
  <div class="commentbox">
      <div class="col-12 col-sm-12 header">
          <h4>Comments ({{count}})</h4>
      </div>
      <div class="col-12 col-sm-12 body">
          <div class="comment-container">
                  <div class="comment-form">
                          <app-commentbox (usercomment)="receiveComment($event)"></app-commentbox>
                  </div>
          </div>
      </div>
  </div>
  <app-comments [postComment]="comments" (countComments)="recieveCount($event)"></app-comments>
</div>
</div>