<infinite-scroll (scrolled)="onScroll()">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-3 col-xs-6" *ngFor="let album of mixtapeArray">
        <mat-card class="album-card" (mouseover)="toggleHover(album.id)" (mouseleave)="removeHover()"> 
            <mat-card-content (click)="playTracks(album)"> 
                <div class="pos-rlt">
                    <div class="item-overlay play-overlay center">
                        <mat-icon *ngIf="hoverButton === album.id" mat-list-icon>play_arrow_rounded</mat-icon>
                    </div>
                    <img [src]="album.coverImageName"  width="100%" class="responsive-image">
                </div>
            </mat-card-content>
            <mat-card-header class="album-header">
                <mat-card-title class="album-title" (click)="onGetTracks(album)">{{album.title}}</mat-card-title>
                <mat-card-subtitle (click)="onGetTracks(album)">{{album.artists}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>
<div class=""*ngIf="isLoading$">
  Loading mixtapes...
 </div>
</infinite-scroll>