<infinite-scroll (scrolled)="onScroll()">
<div  *ngIf="isMobile" >
  <div class="search-container">
   <i style="color: #3b97f9;" class="fa fa-search search-icon"></i>
    <input type="text" (keyup)="keyup($event.target.value)" (keyup.enter)="searchEnter(searchBox.value)"
                placeholder="Search Artist" class="search-input" #searchBox>
  </div>
</div>
<h4>{{artistName}} - Search</h4>
<br>
<div class="row">
  <button class="button button--pill" (click)="playArtistRadio(radio.artists)" aria-label="Clear the current queue" *ngFor="let radio of artistResults">
    <i style="margin-right: 5px;" class="fas fa-play"></i>
    {{radio.artists}}
  </button>
</div>
<br>

<mat-divider></mat-divider>
<div class="row">
  <div class="col-xs-6 col-sm-3" *ngFor="let album of albumArray">
    <mat-card class="album-card" (mouseover)="toggleHover(album.id)" (mouseleave)="removeHover()"> 
      <mat-card-content (click)="playTracks(album)"> 
        <div class="pos-rlt">
            <div class="item-overlay play-overlay center">
                <mat-icon *ngIf="hoverButton === album.id" mat-list-icon>play_arrow_rounded</mat-icon>
            </div>
            <img [src]="album.coverImageName"  width="100%" class="responsive-image"> 
        </div>
    </mat-card-content>
    <mat-card-header class="album-header">
        <mat-card-title class="album-title" (click)="onGetTracks(album)">{{album.title}}</mat-card-title>
        <mat-card-subtitle (click)="onGetTracks(album)">{{album.artists}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
<div class=""*ngIf="isLoading$">
  Loading mixtapes...
 </div>
</infinite-scroll>
